<!-- Sidebar -->
  <nav class="navbar-side">
    <ul>
      <% categories.forEach(function(category){ %>
      <li>
        <form action="/" method="POST">
          <input
            name="category"
            type="submit"
            class="btn sidebarbutton"
            value="<%= category.category %>"
          />
        </form>
      </li>
      <% }); %>
    </ul>
  </nav>
