<!-- Sidebar -->
<section id="sidebar">
  <nav class="navbar-side">
    <ul>
      <li><button>Computer Systems</button></li>
      <li><button>Components</button></li>
      <li><button>Electronics</button></li>
    </ul>
  </nav>
</section>
