body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-brand {
	color: white!important;
}

#login, #signup {
	padding-top:5%;
}

#signup-link, #login-link {
	text-align:right;
}

#login button, #signup button {
	float: right;
}

.error-message {
	color: #e44c65;
}