body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  padding: 0em 0em;
}

.navbar-brand {
	color: white!important;
}

#registerBtn:hover, #logo:hover {
  text-decoration: none;
}

#login, #signup {
	padding-top:5%;
}

#signup-link, #login-link {
	text-align:right;
}

#login button, #signup button, #myCreateModal button, #myEditModal button,  #myUploadModal button{
	float: right;
  font-size:12px;
}

.error-message {
	color: #e44c65;
}

#password-strength-status.weak-password {
	color: red;
}

#password-strength-status.strong-password {
	color: green;
}

#password-strength-status.medium-password  {
	color: yellow;
}

#pswd_info {
	float: left;
    font-size:.875em;
	display: none;
}

.strong {
	font-weight: 500;
}

#pswd_info ul {
    margin:0;
    padding:0;
    list-style-type:none;
}

#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

.invalid {
    background:url(../../images/cross.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    background:url(../../images/tick.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}

.container.manage-products {
	border: 1px solid;
}

#create-product, #edit-product, #upload-product-img {
	display: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 4%; /* Location of the box */
  top:10%;
  left:10%;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(39, 40, 51, 0.965); /* Fallback color */
  background-color: rgba(39, 40, 51, 0.965); /* Black w/ opacity */
}

.upload-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 4%; /* Location of the box */
  top:35%;
  left:35%;
  width: 30%; /* Full width */
  height: 30%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(39, 40, 51, 0.965); /* Fallback color */
  background-color: rgba(39, 40, 51, 0.965); /* Black w/ opacity */
}

.card-image {
  position: relative;
  text-align: center;
  color: white;
}

.admin-actions {
  position: absolute;
  top: 8px;
  right: 16px;
}

#create-modal-content, #edit-modal-content, #upload-modal-content  {
  display: block;
  padding-left: 25px;
  padding-right: 25px;
}

.create-close, .edit-close, .upload-close {
  position: absolute;
  top:2%;
  right:3%;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.create-close:hover,
.create-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.edit-close:hover,
.edit-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.upload-close:hover,
.upload-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#addNewProduct {
  float: right;
}

.product {
  border: 0.5px solid grey;
  padding: 0!important;
}

.product-details {
   position: relative;
  text-align: center;
  padding: 25px;
}

.product-actions {
  margin-bottom: 2px;
}

.product-details .btn-edit {
  background-color: #f0ad4e!important;
}

.upload-image-btn {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.product-image:hover .upload-image-btn {
  opacity: 1;
}

.cart-products {
  padding: 20px;
}
